* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e5e5e5;
  font-family: monospace, sans-serif;
}

::selection {
  background-color: #2fc260;
  color: #141414;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #141414, #2c2c2c);
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 50vw;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 20px;
  margin-top: 20px;
  max-width: 50vw;
}

.vertical-line {
  border-left: 1px solid #a3a3a3;
  align-self: center;
  height: 75vh;
}

.name {
  background: linear-gradient(to right, #2fc260, #50c878);
  color: transparent;
  background-clip: text;
}

.description {
  margin-top: 8px;
  max-width: 500px;
  color: #a3a3a3;
}
